:root {
    --white: #fefefe;
    --cream-50: #F0F0E6;
    --gray-100: #f7fafc;
    --gray-200: #C3C3B9;
    --text-color: #0A0A32;
    --text-secondary: #FFFFFA;
    --primary-color: #1900AF;
    --secondary-color: #FF646E;
    --light-pink: #FFBEE6
}

html {
    visibility: hidden;
}

#content {
    background-color: var(--white);
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-normal.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa%20Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa%20Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

body {
    margin: 0;
    background-color: var(--gray-100);
}

.navbar {
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid var(--gray-200);
    flex-wrap: wrap;
    position: relative;
}

.navbar img.logo {
    aspect-ratio: 2.926;
    width: 210px;
}

ul {
    list-style: none;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
}

.navbar ul+ul {
    margin-left: auto;
    gap: 32px;
}

.navbar ul .navbar-item {
    color: var(--text-color);
    font-family: 'Nexa', sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
    position: relative;
}

.navbar ul .navbar-item.active {
    color: var(--primary-color);
    font-weight: bolder;
}

.navbar ul .navbar-item.active:after {
    background-color: var(--primary-color);
    height: 4px;
    content: "";
    display: block;
    border-radius: 6px;
    margin: 3px 20% 0;
}

.navbar ul .navbar-item.dropdown {
    cursor: pointer;
}

.navbar ul .navbar-item.dropdown .dropdown-icon {
    margin-left: 8px;
    fill: var(--text-color);
}

.navbar ul .navbar-item.dropdown.opened .dropdown-icon {
    transform: rotate(180deg);
    transition: .2s;
}

.navbar ul .navbar-item.active.dropdown .dropdown-icon {
    fill: var(--primary-color);
}

.navbar ul .navbar-item.link {
    color: var(--primary-color);
}

button.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: 'Nexa', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 24px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown .dropdown-content {
    display: none;
}

.dropdown.is-active .dropdown-content {
    display: block;
}

.dropdown-content-portal {
    display: none;
    padding: 30px 100px;
    transition: 1s;
    z-index: 1;
}

.dropdown-content-portal.showing {
    display: block;
    left: 0;
    right: 0;
    background-color: var(--white);
    position: absolute;
    min-height: 200px;
    border-bottom: 1px solid var(--gray-200);
}

@media (max-width: 800px) {
    .hide-mobile {
        display: none !important;
    }

    .navbar {
        padding: 25px;
    }

    .navbar img.logo {
        width: 140px;
    }

    .btn-primary {
        padding: 12px 40px !important;
        font-size: 12px;
    }

    .navbar ul+ul {
        margin-left: auto;
        padding-left: 0;
    }
}

@media (min-width: 801px) {
    .hide-desktop {
        display: none !important;
    }
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-3 {
    gap: 15px
}

.menu-mobile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--white);
    z-index: 2;
    padding: 80px 50px 50px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.menu-mobile a.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    color: var(--text-color);
    opacity: .6;
    transition: .4s;
}

.menu-mobile a.close-btn:hover {
    opacity: 1;
}

.menu-mobile .menu-mobile-item {
    padding: 20px 30px;
    background-color: var(--gray-100);
    border-radius: 8px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 20px;
}

.menu-mobile .menu-mobile-item.showing svg {
    transform: rotate(180deg);
    transition: .2s;
}

.menu-mobile .menu-mobile-item+.menu-mobile-item {
    margin-top: 5px;
}

.initial-banner {
    background-image: var(--banner-1);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
}

.initial-banner .initial-banner-content {
    background: linear-gradient(to right, var(--white) 33%, transparent 60%);
    height: 100%;
}

.initial-banner .initial-banner-content .initial-banner-content-text {
    display: flex;
    flex-direction: column;
    background-image: url("../images/banner-1-mask.webp");
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 -130px;
}

.initial-banner .initial-banner-content .initial-banner-content-logo-full img {
    height: 69px;
}

@media (min-width: 801px) {
    .w-100 {
        width: 100%;
    }

    .md-w-40 {
        width: 40%;
    }
}

.container {
    padding: 108px;
}

@media (max-width: 800px) {
    .container {
        padding: 35px;
    }
}

.initial-banner .initial-banner-content .initial-banner-content-text h1 {
    margin-top: 16px;
    font-family: 'Nexa', sans-serif;
    font-weight: lighter;
    color: var(--text-color);
    font-size: 51px;
}

.initial-banner .initial-banner-content .initial-banner-content-text h1 strong {
    font-weight: bold;
    color: var(--secondary-color);
}

.initial-banner .initial-banner-content .initial-banner-content-text .btn-primary {
    padding: 10px 60px;
    margin-top: 40px;
}

.typed-element {
    display: none;
}

.initial-banner .initial-banner-content .initial-banner-content-text span {
    color: var(--text-color);
    font-family: 'Nexa';
    font-size: 32px;
}

@media (max-width: 800px) {
    .initial-banner {
        height: unset;
    }

    .initial-banner .initial-banner-content {
        background-color: var(--gray-100);
        background-image: url("../images/pranchetas.png");
        background-size: cover;
        background-position: inherit;
    }

    .initial-banner .initial-banner-content .initial-banner-content-text h1 {
        font-size: 40px;
        text-align: center;
    }

    .initial-banner .initial-banner-content .initial-banner-content-logo-full {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .initial-banner .initial-banner-content .initial-banner-content-logo-full img {
        width: 206px;
        height: 76px;
    }

    .initial-banner .initial-banner-content .initial-banner-btn-section {
        display: flex;
        justify-content: center;
    }

    .initial-banner .initial-banner-content .initial-banner-content-text {
        background-image: unset;
    }

    .initial-banner .initial-banner-content .initial-banner-content-text span {
        display: flex;
        text-align: center;
        font-size: 18px;
    }

    .initial-banner-mobile {
        position: relative;
    }

    .initial-banner-mobile img {
        width: 100%;
    }

    .initial-banner-mobile .prancheta {
        position: absolute;
        z-index: 1;
        width: 85px;
        height: 223px;
        top: 90px;
    }
}

.reinventing {
    background-color: var(--white);
    padding-top: 30px;
}

.reinventing .container {
    padding-bottom: 0px;
}

.reinventing h3 {
    color: #0A0A32;
    font-family: 'Nexa', sans-serif;
    font-size: 45px;
    font-weight: lighter;
}

.reinventing .reinventing-content {
    display: flex;
    flex-direction: row;
}

.reinventing .reinventing-content .reinventing-counters {
    width: 40%;
    padding-left: 108px;
}

.reinventing .reinventing-content .reinventing-counters table {
    border-collapse: collapse;
}

.reinventing .reinventing-content .reinventing-counters .reinventing-counter-item td {
    padding: 20px;
    border-bottom: 1px solid var(--cream-50);
}

.reinventing .reinventing-content .reinventing-counters .reinventing-counter-item img {
    width: 72.52px;
    height: 80.36px;
}

.reinventing .reinventing-content .reinventing-counters .reinventing-counter-item .reinventing-counters-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.reinventing .reinventing-content .reinventing-counters .reinventing-counter-item .reinventing-counters-content strong {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
}


.reinventing .reinventing-content .reinventing-image {
    width: 60%;
    display: flex;
    align-items: end;
    justify-content: start;
    position: relative;
}

.reinventing .reinventing-content .reinventing-image .reinventing-image-tele {
    width: 100%;
    aspect-ratio: 1.088;
}

@media (max-width: 800px) {
    .reinventing .reinventing-content {
        display: flex;
        flex-direction: column;
    }

    .reinventing .reinventing-content .reinventing-counters {
        width: inherit;
        padding: 35px;
    }

    .reinventing .reinventing-content .reinventing-counters table {
        width: 100%;
    }

    .reinventing .reinventing-content .reinventing-image {
        width: auto;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .reinventing .reinventing-content .reinventing-image .reinventing-image-tele {
        width: 100%;
    }
}


#banner-2 {
    padding-top: 60px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

#banner-2 h3 {
    color: var(--text-color);
    text-align: center;
    font-family: "Nexa", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: lighter;
    line-height: 138%;
    text-align: center;
    padding: 0 44px;
}

@media screen and (max-width: 800px) {
    #banner-2 h3 {
        font-size: 45px;
    }
}

#banner-2 h3 strong {
    color: var(--secondary-color);
}

p {
    margin-top: unset;
    margin-bottom: unset;
}

#banner-2 .sec2-description {
    color: var(--text-color);
    font-family: "Nexa", sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.5%;
    margin: 50px 0 70px;
    width: 100%;
    text-align: center;
}

#banner-2 .sec2-content-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    align-items: center;
}


#banner-2 .banner-2 {
    width: 50%;
    height: fit-content;
}

#banner-2 .sec2-content-card-text {
    padding: 0 50px;
    margin-bottom: 20px;
}

#banner-2 .sec2-content-card-text h5 {
    color: var(--text-color);
    font-family: "Nexa", sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 300;
    line-height: 121.5%;
    margin: 0;
}

#banner-2 .sec2-content-card-text h5 strong {
    color: var(--secondary-color);
    font-family: "Nexa", sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.5%;
}

#banner-2 .sec2-content-card-text .sec2-item p {
    margin: 0;
}

#banner-2 .sec2-content-card-text .sec2-item {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    margin-top: 15px;
}

#banner-2 .sec2-content-card-text .sec2-item .logo {
    min-width: 30px;
    min-height: 30px;
    background-image: url("prancheta_full.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#banner-2 .sec2-content-card-text .sec2-item .content {
    display: flex;
    flex-direction: column;
}

#banner-2 .sec2-content-card-text .sec2-item .content strong {
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%;
}

#banner-2 .sec2-content-card-text .sec2-item .content small {
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    opacity: .8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%;
}

#banner-2 .btn-primary {
    margin-top: 60px;
    padding: 10px 44px;
}

@media (max-width: 800px) {
    #banner-2 .sec2-description {
        margin: 0px 0 30px;
        font-size: 25px;
        padding: 0 44px;
        text-align: center;
        width: auto;
        height: calc(100% - 183px);
    }

    #banner-2 .sec2-content-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.07);
        padding: 0;
        margin: 0 44px;
        position: relative;
        height: auto;
        margin-bottom: 200px;
    }

    #banner-2 .banner-2 {
        width: 100%;
    }

    #banner-2 .sec2-content-card-text {
        position: inherit;
        padding-top: 30px;
        background-color: var(--white);
        top: -120px;
        overflow: hidden;
    }

    #banner-2 .btn-primary {
        width: 100%;
    }
}

#banner-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    position: relative;
    background-image: url("pranchetas.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    background-position-y: 320px;
}

#banner-3 .banner-2-5 {
    position: absolute;
    top: 0;
    right: 0;
    top: -450px;
}

#banner-3 h4 {
    color: var(--text-color);
    text-align: center;
    font-family: "Nexa", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.5%;
    font-weight: lighter;
}

#banner-3 .plan-card {
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px 64px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    background-image: url("pranchetas.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: initial;
    background-position-y: -80px;
    background-color: var(--white);
}

@media (max-width: 800px) {
    #banner-3 {
        padding: 0 44px;
    }
}


#banner-3 .plan-card h5 {
    color: var(--secondary-color, #FF646E);
    text-align: center;
    font-family: "Nexa", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.5%;
    margin: 0;
    margin-bottom: 32px;
}

#banner-3 .plan-card b {
    color: var(--text-color, #0A0A32);
    text-align: center;
    font-family: "Nexa", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.5%;
    margin-bottom: 3px;
}

#banner-3 .plan-card small {
    color: var(--text-color, #0A0A32);
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

#banner-3 .plan-card .plan-item {
    display: flex;
    flex-direction: row;
    color: var(--text-color, #0A0A32);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%;
    margin-bottom: 24px;
}

#banner-3 .plan-card .plan-item svg {
    height: 24px;
    width: 24px;
    margin-right: 16px;
}

#banner-3 .plan-card small.primary {
    color: var(--primary-color, #1900AF);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%;
    margin: 50px 0 20px;

}

#testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#testimonials .pink-panfleto {
    position: absolute;
    right: 0;
    top: -200px;
}

#testimonials h4 {
    color: var(--text-color);
    font-family: "Nexa", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%;
    max-width: 60%;
    margin-bottom: 35px;
    font-weight: lighter;
}

@media screen and (max-width: 800px) {
    #testimonials h4 {
        text-align: center;
        font-size: 40px;
        font-weight: lighter;
    }

}

#testimonials h4 strong {
    color: var(--secondary-color);
}

#testimonials small {
    color: var(--text-color);
    text-align: center;
    font-family: "Nexa", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.5%;
    margin-bottom: 20px;
}

.swiper-corporate {
    margin: 0 44px;
    width: 80%;
}

.swiper-corporate .swiper-1 {
    width: 100%;
}

.swiper-corporate .swiper-1 .swiper-wrapper {
    align-items: center;
    gap: 10px;
}

.swiper-corporate .swiper-1 .swiper-slide img {
    max-height: 150px;
    max-width: 150px;
}

.swiper-corporate .swiper-2 {
    width: 100%;
}

.swiper-corporate .swiper-2 .swiper-wrapper {
    align-items: center;
    gap: 10px;
}

.swiper-corporate .swiper-2 .swiper-slide img {
    max-height: 150px;
    max-width: 150px;
}


@media (max-width: 800px) {
    .swiper-corporate .swiper-1 .swiper-slide img {
        max-height: 100px;
        max-width: 100px;
    }
}

@media (max-width: 800px) {
    .swiper-corporate .swiper-2 .swiper-slide img {
        max-height: 100px;
        max-width: 100px;
    }
}

.swiper-testimonails {
    margin-bottom: 100px;
    max-width: 950px;
}

@media (max-width: 960px) {
    .swiper-testimonails {
        margin-bottom: 100px;
        max-width: 700px;
    }
}

@media (max-width: 760px) {
    .swiper-testimonails {
        margin-bottom: 100px;
        max-width: 500px;
    }
}

@media (max-width: 550px) {
    .swiper-testimonails {
        margin-bottom: 100px;
        max-width: 400px;
    }
}



.swiper-testimonails h5 {
    color: var(--text-color);
    text-align: center;
    font-family: "Nexa", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: lighter;
    line-height: 137.5%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.swiper-testimonails h5 b {
    color: var(--secondary-color, #FF646E);
}


.swiper-testimonails .swiper-3 .swiper-slide .testimonial-card {
    border-radius: 18px;
    background: var(--light-pink, #FFBEE6);
    padding: 56px;
}

.swiper-testimonails .swiper-3 .swiper-slide .person-id {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.swiper-testimonails .swiper-3 .swiper-slide .person-id img {
    width: 115px;
    height: 115px;
}

.swiper-testimonails .swiper-3 .swiper-slide .person-id b {
    color: var(--text-color, #0A0A32);
    font-family: "Montserrat", sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 148.5%;
}

@media (max-width: 700px) {
    .swiper-testimonails .swiper-3 .swiper-slide .person-id {
        flex-direction: column;
    }

    .swiper-testimonails .swiper-3 .swiper-slide .person-id b {
        text-align: center;
    }
}

.swiper-testimonails .swiper-3 .swiper-slide .person-id small {
    color: var(--text-color, #0A0A32);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.5%;
}

.swiper-testimonails .swiper-3 .swiper-slide .text {
    color: var(--text-color, #0A0A32);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.5%;
    margin-bottom: 50px;
}

.swiper-testimonails .swiper-3 .swiper-slide .person-id .name {
    display: flex;
    flex-direction: column;
}

.swiper-testimonails .swiper-3 .swiper-slide.swiper-slide-prev {
    opacity: .2;
}

.swiper-testimonails .swiper-3 .swiper-slide.swiper-slide-next {
    opacity: .2;
}

.swiper-testimonails .swiper-3 .swiper-pagination {
    bottom: -50px;
    display: flex;
}

.swiper-testimonails .swiper-3 .swiper-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
}


.swiper-testimonails .swiper-3 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-radius: 29px;
    background: var(--primary-color, #1900AF);
    width: 33px;
    transition: .3s;
}

.swiper-testimonails .swiper-3 .swiper-button-next {
    top: unset;
    bottom: -68px;
}

.swiper-testimonails .swiper-3 .swiper-button-next:after {
    color: var(--primary-color, #1900AF);
}

.swiper-testimonails .swiper-3 .swiper-button-prev {
    top: unset;
    bottom: -68px;
    right: 100px;
    left: unset;
}

.swiper-testimonails .swiper-3 .swiper-button-prev:after {
    color: var(--primary-color, #1900AF);
}

#lead-form {
    margin-top: 30px;
    background: linear-gradient(0deg, #FF646E 0%, #1901AF 68.43%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 50px 60px;
}

#lead-form h5 {
    color: var(--text-secondary, #FFFFFA);
    font-family: "Nexa", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: lighter;
    line-height: 138%;
}

#lead-form h5 b {
    color: var(--secondary-color, #FF646E);
}

#lead-form .lead-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 574px;
}

#lead-form .lead-input label {
    color: var(--white, #FFFFFA);
    font-family: "Nexa", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.5%;
    margin-bottom: 6px;
    font-weight: 600;
}

#lead-form .lead-input input {
    color: var(--white, #FFFFFA);
    background-color: transparent;
    border: 1px solid var(--white, #FFFFFA);
    height: 40px;
    border-radius: 2px;
    padding: 3px 10px;
}

#lead-form .description {
    color: var(--white, #FFFFFA);
    font-family: "Nexa", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 148.5%;
    margin-bottom: 40px;
}

@media (max-width: 950px) {
    #lead-form h5 {
        text-align: center;
    }

    #lead-form .lead-input {
        width: 100%;
    }
}

#questions {
    display: flex;
    flex-direction: column;
    padding: 60px 160px 60px;
    position: relative;
}

#questions h5 {
    color: var(--text-color);
    text-align: center;
    font-family: "Nexa", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.5%;
    text-align: left;
    margin-bottom: 30px;
}

#questions select {
    margin-bottom: 50px;
    color: var(--text-color);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.5%;
    text-align: left;
    width: fit-content;
    padding: 8px 20px 8px 15px;
    border: none;
    border-bottom: 1px solid var(--text-color);
}

.footer {
    background: var(--text-color, #0A0A32);
    padding: 150px 160px 144px;
    color: var(--white, #FFFFFA);
    display: flex;
    gap: 60px;
    position: relative;
}

.footer .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mt-auto {
    margin-top: auto;
}

.footer .col .logo {
    width: 243px;
    height: 71px;
    position: relative;
    left: -20px;
}


.footer .col a,
span {
    color: var(--white, #FFFFFA);
    font-family: "Nexa", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.5%;
}

.center {
    align-items: center;
    justify-content: center;
}

.footer .social-row {
    display: flex;
    gap: 24px;
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        padding: 40px 45px;
    }
}

#questions .float-image {
    position: absolute;
    top: -350px;
    right: 0;
}

@media (max-width: 900px) {
    #questions {
        padding: 68px 40px;
    }

    #questions select {
        width: 100%;
    }

    #questions .float-image {
        width: 40%;
        top: -200px;
    }
}

@media (max-width: 600px) {
    #questions .float-image {
        width: 30%;
        top: -150px;
    }
}

.navbar-content {
    display: flex;
    gap: 50px;
}

@media screen and (max-width: 800px) {
    .navbar-content {
        flex-direction: column;
        padding: 20px 20px 50px;
    }
}

.navbar-content .navbar-content-col b {
    font-size: "Nexa", sans-serif;
    font-size: 20px;
}

.navbar-content .navbar-content-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar-content .navbar-content-col a {
    font-size: "Nexa", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
}

#hostinger-preview-banner {
    display: none !important;
}

#footer {
    display: none !important;
}

hr {
    display: none !important;
}